/* Global Settings */
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: grey;
}



/* Navigation Bar */

.nav-item{
    margin-left: 50px;
    /* padding-left: 100px; */
    font-size: 20px
}
.navbar-brand{
    padding-top: 30px;
   padding-bottom: 30px;
}
form{
    display: flex;
    padding-left: 50px;
    /* padding-right: 50px; */
}
.dropdown ul{
    z-index:-1;
    background-color: darkgrey;
    color: white;
}
.navbar-collapse{
    margin-left: -50px;
    margin-top: 30px;
    margin-bottom: 30px;
}
footer{
    display: flex;
    width: 100%;
    padding: 5px 0;
    justify-content: center;
    align-items: center;
    background-color: #212529;
    color: grey;
    position: absolute;
    bottom: 0;
}
